k8s {
   namespace = 'nf-ns'
   runAsUser = 1000
   computeResourceType = 'Job'
   storageClaimName = 'pvc-nf'
   storageMountPath = '/mnt'
}

process {
   executor = 'k8s'
   cpus = 2
   memory = '400 MB' 
   pod = [[label: 'hpctransfer', value: 'cooperative'], [securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [automountServiceAccountToken:false], [secret: 'krbconf', mountPath: '/etc/secrets']]
//   pod = [[label: 'hpctransfer', value: 'can'], [securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [automountServiceAccountToken:false], [secret: 'krbconf', mountPath: '/etc/secrets']]
//   pod = [[label: 'hpctransfer', value: 'must'], [securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [automountServiceAccountToken:false], [secret: 'krbconf', mountPath: '/etc/secrets']]
}
